body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
	position: relative;
    height: 100%;
    color: #777;
    line-height: 1.8;
	font-family: 'Source Code Pro', monospace;
}

#video{
	display: block;
	width: 100%;
	max-width: 600px;
	height: 315px;
	margin: 0 auto;
}

body{
	background-color: #1D1D1D;
}

/* Reset Box Model */
*{
	-moz-box-sizing:border-box;
	box-sizing:border-box;	
}
/* End Reset Box Model */

/* Clear Floats Utility */
.clearfix{
	width:100%;
	display:inline-block;
}
.clearfix:after{
	visibility:hidden;
	content:" ";
	display:block;
	font-size:0;
	height:0;
	clear:both;
}

a{
	color: inherit;
}

nav{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	background-color: #1E2329;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
	color: #FFFFFF;
	z-index: 100;
}

nav .links{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

nav .links .logo{	
	flex-basis: 100px;
	padding: 0 16px 0 16px;
}

nav .links .logo img{	
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
}

nav .links ul{
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
}

nav ul li a{
	display: block;
	padding: 8px 16px 8px 16px;
	text-align: center;
    cursor: pointer;
	font-size: 15px;
	line-height: 1.8;
	text-decoration: none;
}

nav ul li a:hover,
nav ul li a.mobileMenuButton:hover,
#navMobile a:hover{
	color: #000000;
	background-color: #CCCCCC;
}

nav ul li a.search:hover{
	color: #FFFFFF;
	background-color: #F44336;
}

nav ul li a.mobileMenuButton{
	display: none;
}

nav ul li a.mobileMenuButton:hover{
	color: white;
	background-color: black;
}

.hideMobile{
	display: block;
}

#navMobile{
	position: absolute;
	top:40px;
	left:0;
	width: 100%;
	display: none;
	background-color: #FFFFFF;
	clear: both;
	z-index: 100;
	color: #777777;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
}

#navMobile.active{
	display: block;
}

#navMobile a{
	display: block;
	width: 100%;
	text-align: center;
    cursor: pointer;
	font-size: 15px;
	line-height: 1.8;
	border-top: 1px rgba(0,0,0,0.05) solid;
	text-decoration: none;
	padding: 8px 0 8px 0;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* Feature Section */

.featureSection{
	position: relative;
	width: 100%;
	overflow: hidden;
}

.featureSection .mySlides{
	background-size: cover;
	background-position: center top;
	text-align: center;
	display: table;
	background-repeat: no-repeat;
	width: 100%;
	opacity: 1;
	overflow: hidden;
	z-index: 10;
	height: 100%;
}

.featureSection .mySlides figcaption{
	position: relative;
	width: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 75px 15px 0 15px;
}

.featureSection .mySlides figcaption .title{
	position: relative;
	width: 100%;
	display: block;
	margin: 0 auto 15px auto;
	text-align: center;
	padding: 0;
}

.featureSection .mySlides figcaption .title h1{
	display: inline-block;
	font-size: 30px;
	line-height: 30px;
	padding: 0;
	margin: 0;
	color: #FFFFFF;
}

.featureSection .mySlides figcaption .title h3{
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	padding: 0;
	margin: 0;
}

.featureSection .mySlides figcaption .title p{
	display: block;
	font-size: 14px;
	line-height: 18px;
	padding: 0;
}

.fullWidthDiv{
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	background-color: #FFF;
	overflow: hidden;
}

/* Footer */

footer{
	width: 100%;
	min-width:320px;
	margin:auto;
	border:0;
	border-collapse:collapse;
	text-align:center;
	overflow:hidden;
	padding:64px 16px 164px 16px;
	background-color: #1D1D1D;
}

footer a.toTop{
	color: #000;
    background-color: #f1f1f1;
	border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
	margin-bottom:50px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

footer .social a{
	display: inline-block;
	font-size: 40px;
	line-height: 40px;
	margin: 0 8px 0 8px;
	text-decoration: none;
	opacity: 1;
}

footer .social a:hover{
	opacity: 0.75;
}

/* Drum Machine Styles */

/* BRAND AND POWER BT */

.calculator-main{
	display: block;
	width: 100%;
	padding: 5px;
	margin: 50px auto;
	max-width: 400px;
	background-color: #000000;
	background-image: linear-gradient(0, #252525 0%, #383838 150%);
	border:4px solid rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.8);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.8);
	border-radius: 5px;
	font-family: 'Montserrat Alternates', sans-serif;
}

.calculator-main .calculator-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	/*background-color: rgba(255,255,255,0.1);*/
	/*overflow: hidden;*/
}

.calculator-main .calculator-header .brand{
	flex-basis: 100px;
}

.calculator-main .calculator-header .brand img{
	width: 100%;
	padding: 0;
	margin: 0 auto;
	height: auto;
}

.calculator-main .calculator-header .power-switch{
	flex-basis: 100px;
	text-align: right;
}

.calculator-main .calculator-header .power-switch .power-sw{
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 5px;
	margin: 0;
	background-color: rgba(255,255,255,0.02);
	border: 1px solid rgba(255,255,255,0.08);
	box-shadow: 0 3px 6px rgba(0,0,0,0.5);
	border-radius: 5px;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
}

.calculator-main .calculator-header .power-switch .power-sw.active,
.calculator-main .calculator-header .power-switch .power-sw:hover{
	background-color: rgba(255,255,255,0.04);
}

.calculator-main .calculator-header .power-switch .power-sw img{
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	opacity: 0.2;
}

.calculator-main .calculator-header .power-switch .power-sw img.glow{
	display: none;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	opacity: 1;
}

@keyframes littleBlink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
  }

.calculator-main .calculator-header .power-switch .power-sw.active img,
.calculator-main .calculator-header .power-switch .power-sw:hover img{
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	opacity: 1;
	z-index: 2;
	animation-name: littleBlink;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

.calculator-main .calculator-header .power-switch .power-sw.active img.glow,
.calculator-main .calculator-header .power-switch .power-sw:hover img.glow{
	position: absolute;
	top:9px;
	left:9px;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	opacity: 1;
	filter: blur(3px);
    -webkit-filter: blur(3px);
	z-index: 0;
	animation-name: littleBlink;
	animation-duration: 6s;
	animation-iteration-count: infinite;
}

/* DISPLAY */

.calculator-main .calculator-display-and-history{
	width: 100%;
	padding: 0;
	margin: 0 auto;
	height: auto;
	margin-bottom: 5px;
}

.calculator-main .calculator-display-and-history .display-container{
	width: 100%;
	padding: 3px;
	border-radius: 2px;
	margin: 0;
	background-color: #000000;
}

.calculator-main .calculator-display-and-history .display-container .display-screen{
	width: 100%;
	padding: 15px;
	margin: 0;
	background: #1B2428;
	color: #1B2428;
	border-radius: 2px;
	min-height: 100px;
}

.calculator-main .calculator-display-and-history .display-container .display-screen.active #history-content{
	display: none;
}

.calculator-main .calculator-display-and-history .display-container .display-screen.active #current-result{
	display: none;
}

.calculator-main .calculator-display-and-history .display-container .display-screen.active{
	width: 100%;
	padding: 10px;
	margin: 0;
	background: rgb(161,215,241);
	background: linear-gradient(180deg, rgba(161,215,241,1) 0%, rgba(162,213,240,1) 100%);
	color: #607FC2;
	border-radius: 2px;
}

.calculator-main .calculator-display-and-history .display-container .display-screen.active #history-content{
	display: block;
	width: 100%;
	padding: 5px;
	margin: 0 0 5px 0;
	text-align: right;
	color: rgba(0,0,0,0.8);
	font-size: 16px;
	line-height: 20px;
}

.calculator-main .calculator-display-and-history .display-container .display-screen.active #current-result{
	display: block;
	width: 100%;
	padding: 5px;
	margin: 0;
	text-align: right;
	color: rgba(0,0,0,1);;
	font-size: 30px;
	line-height: 32px;
}

.calculator-main .calculator-sounds-main .calculator-sounds{
	width:100%;
    padding:0 0 0 0;
	margin:auto;
}

.calculator-main .calculator-sounds-main .pad-history{
	width:100%;
    padding:0 0 0 0;
	margin:auto;
	overflow:visible;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	grid-gap: 5px;
	justify-content: space-between;
}


.calculator-main .calculator-sounds-main .pad-history .key-pad{
	width: 100%;
	height: 80px;
	padding: 5px;
	margin: 0;
	background-color: rgba(255,255,255,0.05);
	border: 1px solid rgba(255,255,255,0.08);
	box-shadow: 0 3px 6px rgba(0,0,0,0.6);
	border-radius: 2px;
	font-size: 20px;
	font-weight: 300;
	color:rgba(255, 255, 255, 0.5);
	line-height: 70px;
	text-align: center;
	cursor: pointer;
	outline: none;
	overflow:visible;
	user-select: none;
}

.calculator-main .calculator-sounds-main .pad-history .key-pad.equals {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: span 2;
	height: 165px;
	line-height: 160px;
}

.calculator-main .calculator-sounds-main .pad-history .key-pad.zero {
	grid-column-start: 1;
	grid-column-end: span 2;
}

.calculator-main .calculator-sounds-main .pad-history .key-pad:hover{
	background: rgb(255,255,255,0.1);
}


@media (max-width: 600px){

}

/* Media Queries */

@media (max-width:800px){
	nav ul li a.mobileMenuButton{
		display: block;
	}
	
	nav ul li a.search{
		display: none;
	}
	
	.hideMobile{
		display: none;
	}
}
	

@media (max-width:480px){


}
